.container {
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #cacaca;
  border-radius: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}

.icon {
  margin-right: 6px;
}
