.container {
  padding: 20px 40px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(229, 236, 236);
  color: rgb(47, 46, 49);
}

.header {
  font-size: 20px;
  font-weight: 800;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.comments {
  margin-left: auto;
}
