.ms-auto {
  margin-left: auto !important;
}

@import 'bootstrap';

a {
  text-decoration: none;
}

body {
  background: #efeff7;
}

@media (min-width: 1200px) {
  body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}
